<h3>
    <div class="container">
        <div class="row">
            <div class="col">
                Hello, <%= locals.taname.charAt(0).toUpperCase() + locals.taname.slice(1)%>
            </div>
            <div class="col col-sm-auto">
                <a class="btn btn-default" href="/user/logout" onclick="return confirm('Are you sure?')">登出</a>                
            </div>
        </div>
    </div>
</h3>
    